@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
body{
    color: #323c42;
    overflow-x: hidden;
    font-size: 14px;
}
a{
    text-decoration: none !important;
}
P{
    font-size: 14px;
}
ul{
    color: var(--gray-color);
}
ul li{
    list-style-type: none;
}
:root{
    --orange-color:#ff6200;
    --gray-color:#8b8e96;
}
.input-group .ip-search:focus{
    box-shadow: none;
}
.input-group .btn-search:hover{
    background-color: transparent;
    color:initial;
}
.price_new,
.footer a:hover,
.news h5:hover a,
.header-icon:hover,
.header-nav a:hover,
.product_content .product_content--title:hover{
    color: var(--orange-color) !important;
}
.num-phone:hover{
    opacity: .6;
}
.header-nav .dropdown-item{
    width: 200px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: transparent !important;
}
.title_block{
    letter-spacing: 6px;;
}
.product{
    cursor: pointer;
}
.product .product_img img{
    transition: all 0.5s ease-in-out;
}
.product .product_img:hover img:first-child{
    visibility: hidden !important;
    opacity: 0 !important;
}
.product .product_img:hover img:last-child{
    visibility: unset !important;
    opacity: 1 !important;
    scale: 1.05;
}
.banner1 img{
    width: 100%;
}
.news img{
    transition: all 0.5s ease-in-out;
}
.news img:hover{
    scale: 1.05;
}
.footer a,
.footer-last-inner p{
    color:var(--gray-color);
}
.social li{
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}





















